## Exercise 1: Accessing the List Members

1. Define a list called list_1 with four integer members

In [23]:
list_1 = [34, 12, 89, 1]
list_1

[34, 12, 89, 1]

2. Access the first element from list_1

In [24]:
list_1[0]

34

3. Access the last element from list_1

In [25]:
list_1[3]

1

4. Access the last element from list_1

In [26]:
list_1[len(list_1) - 1]

1

5. Access the last element from list_1

In [27]:
list_1[-1]

1

6. Access the first three elements from list_1

In [28]:
list_1[1:3]

[12, 89]

7. Access the last two elements from list_1

In [29]:
list_1[-2:]

[89, 1]

8. Access the first two elements using backward indices

In [30]:
list_1[:-2]

[34, 12]

9. Reverse the elements in the list

In [31]:
list_1[-1::-1]

[1, 89, 12, 34]

## Exercise 2: Generating a List

1. Create a list using the append method

In [1]:
list_1 = [] 

for x in range(0, 10): 

    list_1.append(x) 

list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2.Generate a list

In [4]:
list_2 = [x for x in range(0, 100)] 

list_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

3. User two loops to iterate through both lists

In [6]:
for i in list_1: 
    for j in list_2: 
        print(str(i) + "," + str(j))

0,0
0,1
0,2
0,3
0,4
0,5
0,6
0,7
0,8
0,9
0,10
0,11
0,12
0,13
0,14
0,15
0,16
0,17
0,18
0,19
0,20
0,21
0,22
0,23
0,24
0,25
0,26
0,27
0,28
0,29
0,30
0,31
0,32
0,33
0,34
0,35
0,36
0,37
0,38
0,39
0,40
0,41
0,42
0,43
0,44
0,45
0,46
0,47
0,48
0,49
0,50
0,51
0,52
0,53
0,54
0,55
0,56
0,57
0,58
0,59
0,60
0,61
0,62
0,63
0,64
0,65
0,66
0,67
0,68
0,69
0,70
0,71
0,72
0,73
0,74
0,75
0,76
0,77
0,78
0,79
0,80
0,81
0,82
0,83
0,84
0,85
0,86
0,87
0,88
0,89
0,90
0,91
0,92
0,93
0,94
0,95
0,96
0,97
0,98
0,99
1,0
1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
1,10
1,11
1,12
1,13
1,14
1,15
1,16
1,17
1,18
1,19
1,20
1,21
1,22
1,23
1,24
1,25
1,26
1,27
1,28
1,29
1,30
1,31
1,32
1,33
1,34
1,35
1,36
1,37
1,38
1,39
1,40
1,41
1,42
1,43
1,44
1,45
1,46
1,47
1,48
1,49
1,50
1,51
1,52
1,53
1,54
1,55
1,56
1,57
1,58
1,59
1,60
1,61
1,62
1,63
1,64
1,65
1,66
1,67
1,68
1,69
1,70
1,71
1,72
1,73
1,74
1,75
1,76
1,77
1,78
1,79
1,80
1,81
1,82
1,83
1,84
1,85
1,86
1,87
1,88
1,89
1,90
1,91
1,92
1,93
1,94
1,95
1,96
1,97
1,98
1,99
2,0
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
2,10
2,11
2,12
2,13
2,14
2,15
2,16
2,17
2,18
2,19
2,20
2,21
2,22
2,23
2,24
2,25
2,26
2,27
2,28
2,29
2,30
2,31
2,32
2,33
2,34
2,35
2,36
2,37
2,38
2,39
2,40
2,41
2,42
2,43
2,44
2,45
2,46
2,47
2,48
2,49
2,50
2,51
2,52
2,53
2,54
2,55
2,56
2,57
2,58
2,59
2,60
2,61
2,62
2,63
2,64
2,65
2,66
2,67
2,68
2,69
2,70
2,71
2,72
2,73
2,74
2,75
2,76
2,77
2,78
2,79
2,80
2,81
2,82
2,83
2,84
2,85
2,86
2,87
2,88
2,89
2,90
2,91
2,92
2,93
2,94
2,95
2,96
2,97
2,98
2,99
3,0
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9
3,10
3,11
3,12
3,13
3,14
3,15
3,16
3,17
3,18
3,19
3,20
3,21
3,22
3,23
3,24
3,25
3,26
3,27
3,28
3,29
3,30
3,31
3,32
3,33
3,34
3,35
3,36
3,37
3,38
3,39
3,40
3,41
3,42
3,43
3,44
3,45
3,46
3,47
3,48
3,49
3,50
3,51
3,52
3,53
3,54
3,55
3,56
3,57
3,58
3,59
3,60
3,61
3,62
3,63
3,64
3,65
3,66
3,67
3,68
3,69
3,70
3,71
3,72
3,73
3,74
3,75
3,76
3,77
3,78
3,79
3,80
3,81
3,82
3,83
3,84
3,85
3,86
3,87
3,88
3,89
3,90
3,91
3,92
3,93
3,94
3,95
3,96
3,97
3,98
3,99
4,0
4,1
4,2
4,3
4,4
4,5
4,6
4,7
4,8
4,9
4,10
4,11
4,12
4,13
4,14
4,15
4,16
4,17
4,18
4,19
4,20
4,21
4,22
4,23
4,24
4,25
4,26
4,27
4,28
4,29
4,30
4,31
4,32
4,33
4,34
4,35
4,36
4,37
4,38
4,39
4,40
4,41
4,42
4,43
4,44
4,45
4,46
4,47
4,48
4,49
4,50
4,51
4,52
4,53
4,54
4,55
4,56
4,57
4,58
4,59
4,60
4,61
4,62
4,63
4,64
4,65
4,66
4,67
4,68
4,69
4,70
4,71
4,72
4,73
4,74
4,75
4,76
4,77
4,78
4,79
4,80
4,81
4,82
4,83
4,84
4,85
4,86
4,87
4,88
4,89
4,90
4,91
4,92
4,93
4,94
4,95
4,96
4,97
4,98
4,99
5,0
5,1
5,2
5,3
5,4
5,5
5,6
5,7
5,8
5,9
5,10
5,11
5,12
5,13
5,14
5,15
5,16
5,17
5,18
5,19
5,20
5,21
5,22
5,23
5,24
5,25
5,26
5,27
5,28
5,29
5,30
5,31
5,32
5,33
5,34
5,35
5,36
5,37
5,38
5,39
5,40
5,41
5,42
5,43
5,44
5,45
5,46
5,47
5,48
5,49
5,50
5,51
5,52
5,53
5,54
5,55
5,56
5,57
5,58
5,59
5,60
5,61
5,62
5,63
5,64
5,65
5,66
5,67
5,68
5,69
5,70
5,71
5,72
5,73
5,74
5,75
5,76
5,77
5,78
5,79
5,80
5,81
5,82
5,83
5,84
5,85
5,86
5,87
5,88
5,89
5,90
5,91
5,92
5,93
5,94
5,95
5,96
5,97
5,98
5,99
6,0
6,1
6,2
6,3
6,4
6,5
6,6
6,7
6,8
6,9
6,10
6,11
6,12
6,13
6,14
6,15
6,16
6,17
6,18
6,19
6,20
6,21
6,22
6,23
6,24
6,25
6,26
6,27
6,28
6,29
6,30
6,31
6,32
6,33
6,34
6,35
6,36
6,37
6,38
6,39
6,40
6,41
6,42
6,43
6,44
6,45
6,46
6,47
6,48
6,49
6,50
6,51
6,52
6,53
6,54
6,55
6,56
6,57
6,58
6,59
6,60
6,61
6,62
6,63
6,64
6,65
6,66
6,67
6,68
6,69
6,70
6,71
6,72
6,73
6,74
6,75
6,76
6,77
6,78
6,79
6,80
6,81
6,82
6,83
6,84
6,85
6,86
6,87
6,88
6,89
6,90
6,91
6,92
6,93
6,94
6,95
6,96
6,97
6,98
6,99
7,0
7,1
7,2
7,3
7,4
7,5
7,6
7,7
7,8
7,9
7,10
7,11
7,12
7,13
7,14
7,15
7,16
7,17
7,18
7,19
7,20
7,21
7,22
7,23
7,24
7,25
7,26
7,27
7,28
7,29
7,30
7,31
7,32
7,33
7,34
7,35
7,36
7,37
7,38
7,39
7,40
7,41
7,42
7,43
7,44
7,45
7,46
7,47
7,48
7,49
7,50
7,51
7,52
7,53
7,54
7,55
7,56
7,57
7,58
7,59
7,60
7,61
7,62
7,63
7,64
7,65
7,66
7,67
7,68
7,69
7,70
7,71
7,72
7,73
7,74
7,75
7,76
7,77
7,78
7,79
7,80
7,81
7,82
7,83
7,84
7,85
7,86
7,87
7,88
7,89
7,90
7,91
7,92
7,93
7,94
7,95
7,96
7,97
7,98
7,99
8,0
8,1
8,2
8,3
8,4
8,5
8,6
8,7
8,8
8,9
8,10
8,11
8,12
8,13
8,14
8,15
8,16
8,17
8,18
8,19
8,20
8,21
8,22
8,23
8,24
8,25
8,26
8,27
8,28
8,29
8,30
8,31
8,32
8,33
8,34
8,35
8,36
8,37
8,38
8,39
8,40
8,41
8,42
8,43
8,44
8,45
8,46
8,47
8,48
8,49
8,50
8,51
8,52
8,53
8,54
8,55
8,56
8,57
8,58
8,59
8,60
8,61
8,62
8,63
8,64
8,65
8,66
8,67
8,68
8,69
8,70
8,71
8,72
8,73
8,74
8,75
8,76
8,77
8,78
8,79
8,80
8,81
8,82
8,83
8,84
8,85
8,86
8,87
8,88
8,89
8,90
8,91
8,92
8,93
8,94
8,95
8,96
8,97
8,98
8,99
9,0
9,1
9,2
9,3
9,4
9,5
9,6
9,7
9,8
9,9
9,10
9,11
9,12
9,13
9,14
9,15
9,16
9,17
9,18
9,19
9,20
9,21
9,22
9,23
9,24
9,25
9,26
9,27
9,28
9,29
9,30
9,31
9,32
9,33
9,34
9,35
9,36
9,37
9,38
9,39
9,40
9,41
9,42
9,43
9,44
9,45
9,46
9,47
9,48
9,49
9,50
9,51
9,52
9,53
9,54
9,55
9,56
9,57
9,58
9,59
9,60
9,61
9,62
9,63
9,64
9,65
9,66
9,67
9,68
9,69
9,70
9,71
9,72
9,73
9,74
9,75
9,76
9,77
9,78
9,79
9,80
9,81
9,82
9,83
9,84
9,85
9,86
9,87
9,88
9,89
9,90
9,91
9,92
9,93
9,94
9,95
9,96
9,97
9,98
9,99

4. Use a while loop

In [7]:
i = 0 
while i < len(list_1) : 
    print(list_1[i])  
    i += 1

0
1
2
3
4
5
6
7
8
9

5. Create list_3 with numbers that are divisible by 5

In [8]:
list_3 = [x for x in range(0, 100) if x % 5 == 0] 

list_3

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

6. Generate a list by adding the two lists

In [75]:
list_1 = [1, 4, 56, -1] 
list_2 = [1, 39, 245, -23, 0, 45] 
list_3 = list_1 + list_2 
list_3

[1, 4, 56, -1, 1, 39, 245, -23, 0, 45]

7. Extend a string using the extend keyword

In [11]:
list_1.extend(list_2) 
list_1

[1, 4, 56, -1, 1, 39, 245, -23, 0, 45]

## Exercise 3: Iterating over a List and Checking Membership

1. Iterate over a list

In [14]:
list_1 = [x for x in range(0, 100)] 
for i in range(0, len(list_1)): 
    print(list_1[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [15]:
for i in list_1: 
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

2. Check whether the integers 25 and -45 are in the list using the in operator

In [16]:
 25 in list_1

True

In [17]:
 -45 in list_1

False

## Exercise 4: Sorting a List

1. As the list was originally a list of numbers from 0 to 99, we will sort it in the reverse direction. To do that, we will use the sort method with reverse=True

In [19]:
list_1.sort(reverse=True) 

list_1

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

2. We can use the reverse method directly

In [20]:
list_1.reverse() 

list_1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

## Exercise 5: Generating a Random List

1. Import random library

In [22]:
import random

2. Use the randint function to generate random integers and add them to a list

In [27]:
list_1 = [random.randint(0, 30) for x in range (0, 100)] 
list_1

[9,
 13,
 24,
 24,
 7,
 6,
 8,
 14,
 22,
 24,
 28,
 7,
 0,
 16,
 22,
 9,
 22,
 17,
 20,
 0,
 19,
 27,
 6,
 20,
 13,
 21,
 30,
 9,
 3,
 10,
 8,
 11,
 11,
 5,
 23,
 3,
 3,
 21,
 9,
 25,
 12,
 20,
 0,
 5,
 3,
 8,
 16,
 22,
 26,
 25,
 5,
 15,
 30,
 12,
 1,
 22,
 7,
 17,
 4,
 25,
 20,
 5,
 15,
 26,
 0,
 12,
 14,
 11,
 20,
 18,
 26,
 25,
 3,
 27,
 4,
 4,
 12,
 16,
 0,
 6,
 0,
 10,
 17,
 30,
 16,
 11,
 7,
 9,
 30,
 9,
 13,
 13,
 14,
 5,
 19,
 25,
 25,
 27,
 25,
 9]

## Exercise 6: Accessing and Setting Values in a Dictionary

1.

In [30]:
dict_2 = {"key1": 1, "key2": ["list_element1", 34], "key3": "value3", 

          "key4": {"subkey1": "v1"}, "key5": 4.5} 
dict_2

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

2. Print the key and value related to key2

In [32]:
dict_2["key2"]

['list_element1', 34]

3. You can set a value using the same method we use to access a value

In [34]:
dict_2["key2"] = "My new value"
dict_2["key2"]

'My new value'

4. Define a blank dictionary and then use the key notation to assign values to it

In [35]:
dict_3 = {} # Not a null set. It is a dict 

dict_3["key1"] = "Value1" 

dict_3

{'key1': 'Value1'}

## Exercise 7: Iterating Over a Dictionary

1. Create dict_1

In [2]:
dict_1 = {"key1": 1, "key2": ["list_element1", 34], "key3": "value3", "key4": {"subkey1": "v1"}, "key5": 4.5}
dict_1

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

2. When we iterate through the dictionary, we are actually iterating over the keys and values

In [38]:
for k, v in dict_1.items(): 
    print("{} - {}".format(k, v))

key1 - 1
key2 - ['list_element1', 34]
key3 - value3
key4 - {'subkey1': 'v1'}
key5 - 4.5

## Exercise 8: Revisiting the Unique Valued List Problem

1. generate a random list with duplicate values

In [40]:
list_1 = [random.randint(0, 30) for x in range (0, 100)] 
list_1

[12,
 20,
 5,
 1,
 12,
 4,
 26,
 29,
 27,
 0,
 7,
 14,
 19,
 27,
 15,
 10,
 28,
 11,
 0,
 2,
 22,
 17,
 23,
 7,
 17,
 2,
 26,
 17,
 5,
 7,
 6,
 30,
 18,
 2,
 17,
 8,
 0,
 17,
 4,
 22,
 23,
 23,
 14,
 24,
 18,
 1,
 12,
 14,
 2,
 3,
 30,
 24,
 29,
 10,
 1,
 12,
 25,
 12,
 29,
 11,
 11,
 16,
 13,
 16,
 9,
 17,
 22,
 0,
 15,
 16,
 22,
 6,
 23,
 21,
 9,
 27,
 25,
 22,
 8,
 28,
 9,
 18,
 12,
 21,
 13,
 15,
 3,
 16,
 27,
 14,
 5,
 16,
 29,
 30,
 20,
 29,
 7,
 2,
 28,
 22]

2. Create a unique valued list from list_1

In [41]:
list(dict.fromkeys(list_1).keys())

[12,
 20,
 5,
 1,
 4,
 26,
 29,
 27,
 0,
 7,
 14,
 19,
 15,
 10,
 28,
 11,
 2,
 22,
 17,
 23,
 6,
 30,
 18,
 8,
 24,
 3,
 25,
 16,
 13,
 9,
 21]

## Exercise 9: Deleting Value from Dict

1. Create list_1 with five elements

In [47]:
dict_1 = {"key1": 1, "key2": ["list_element1", 34], "key3": "value3", 

          "key4": {"subkey1": "v1"}, "key5": 4.5} 
dict_1

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'v1'},
 'key5': 4.5}

In [48]:
del dict_1["key2"] 
dict_1

{'key1': 1, 'key3': 'value3', 'key4': {'subkey1': 'v1'}, 'key5': 4.5}

## Exercise 10: Dictionary Comprehension

1. Generate a dict that has 0 to 9 as the keys and the square of the key as the values

In [50]:
list_1 = [x for x in range(0, 10)] 

dict_1 = {x : x**2 for x in list_1} 

dict_1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

2. Generate a dictionary using the dict function

In [51]:
dict_2 = dict([('Tom', 100), ('Dick', 200), ('Harry', 300)]) 

dict_2

{'Tom': 100, 'Dick': 200, 'Harry': 300}

In [52]:
dict_3 = dict(Tom=100, Dick=200, Harry=300) 

dict_3

{'Tom': 100, 'Dick': 200, 'Harry': 300}

## Exercise 11: Handling Tuples

1. Create a tuple

In [57]:
tupleE = "1", "3", "5" 

tupleE

('1', '3', '5')

2. Try to override a variable from the tupleE tuple

In [58]:
tupleE[1] = "5"

TypeError: 'tuple' object does not support item assignment

3. Try to assign a series to the tupleE tuple

In [59]:
1, 3, 5 = tupleE

SyntaxError: can't assign to literal (<ipython-input-59-a5283cb38d62>, line 1)

4. print variable 1 & 2

In [60]:
print(1) 

print(3)

1
3

## Exercise 12: Accessing Strings

1. Create a string called str_1

In [62]:
str_1 = "Hello World!" 
str_1

'Hello World!'

2. Access the first member of the string

In [63]:
str_1[0]

'H'

3. Access the fourth member of the string

In [64]:
str_1[4]

'o'

4. Access the last member of the string

In [65]:
str_1[len(str_1) - 1]

'!'

5. Access the last member of the string

In [66]:
str_1[-1]

'!'

## Exercise 13: String Slices

1. Create a string, str_1

In [71]:
str_1 = "Hello World! I am learning data wrangling" 
str_1

'Hello World! I am learning data wrangling'

2. Specify the slicing values and slice the string

In [72]:
str_1[2:10]

'llo Worl'

3. Slice a string by skipping a slice value

In [73]:
str_1[-31:]

'd! I am learning data wrangling'

4. Use negative numbers to slice the string

In [74]:
str_1[-10:-5]

' wran'

## Exercise 14: Splitting and Joining a string

1. Create a string and convert it to a list

In [32]:
str_1 = "Name, Age, Sex, Address" 

list_1 = str_1.split(",") 

list_1

['Name', ' Age', ' Sex', ' Address']

In [34]:
s = " | "
s.join(list_1)

'Name |  Age |  Sex |  Address'